@ViewBag.UserName
<br />
<h2>@(ViewBag.Title)</h2>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>


<table style="width:100%">
    <tr>
        <th></th>
        <th>Занятие:</th>
        <th>Задача за домашно:</th>
        <th>Решение:</th>
    </tr>


    @{
        int cnt = 1;
        var myHomeworks = ViewBag.MyHomeworks;
        foreach (var homework in myHomeworks)
        {
            <tr>
                <td>@(cnt)</td>
                <td>@homework.Lection</td>
                <td>
                    @homework.TaskNotes
                    <a href="../../homeworks/@(ViewBag.UserData.UserFK)/@(homework.TaskPicture)" download>
                        <img src="../../pictures/fileicon.jpg" style="width:40px" />
                    </a>
                    @{
                        if (ViewBag.IAmTeacher)
                        {
                            <a href="../Delete/@(homework.Id)">
                                <img src="../../pictures/trash.png" />
                            </a>

                        }
                    }
                </td>
                <td>
                    @homework.SolutionNotes


                    <form method="post" action="~/Homework/ApplyHomework/@(homework.Id)">
                        <input type="submit" value="качи решение" />


                        @{
                            if (homework.SolutionPicture != null)
                            {

                                <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;изтегли</span>
                                <a href="../../homeworks/@(ViewBag.UserData.UserFK)/@(homework.SolutionPicture)" download>
                                    <img src="../../pictures/fileicon.jpg" style="width:40px" />
                                </a>

                            }
                            else
                            {
                                <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; няма домашно</span>
                            }
                        }
                    </form>
                </td>
            </tr>

            cnt++;
        }
    }
</table>
<br />
<br />
@if (ViewBag.IAmTeacher == true)
{
    <form method="post" action="/Homework/AddHomeworkTask/@(ViewBag.UserData.Id)">
        <input type="submit" value="добави домашно" />
        <a href="~/Homework/Index"><input type="button" value="обратно" /></a>
    </form>
}
