@{

    var myContext = new CommonModels.ElectronicsWarehouseContext();

    var partsList = myContext.Articles;


}


<h2>List of articles in warehouse:</h2>


<div>
    @{

        {

        <div class="row">
            @foreach (var part in partsList)
                {

            <div ondblclick="GetRow(@part.Id)" class="col-md-3">

                <img src="@PictureProcessing.PictureProcessor.picturePathWeb/@PictureProcessing.PictureProcessor.GetSmallName(part.PictureName)" />
                <br />
                @part.PictureName
                <br />
                @part.Id @part.Name @part.Price лв.
            </div>

                }
            <div class="col-md-3">
                <img src="@PictureProcessing.PictureProcessor.picturePathWeb/new.jpg" onclick="window.open('/Manage/AddArticle')">
            </div>
        </div>
        }

        <script>
            function GetRow(partId) {
                //document.getElementById("partnum").innerHTML = "Ред " + partId;
                window.open("Manage/Edit?id=" + partId);
            }
        </script>

    }
</div>