@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Моят профил</h4>

Потребителско име : @ViewBag.userData.UserFK
<br />

<img src="@PictureProcessing.PictureProcessor.profilePathWeb/@ViewBag.userData.PictureName" />
<br />
Име: @ViewBag.userData.FullName
<br />
Училище: @ViewBag.userData.School
<br />
@{
    if (ViewBag.userData.Role == "Teacher")
    {
        <div>Преподавател</div>
    }
    else if (ViewBag.userData.Role == "Student")
    {
        <div>Клас: @ViewBag.userData.Grade</div>
    }
}

<br />
Град: @ViewBag.userData.Town
<br />
Тел: @ViewBag.userData.PhoneNum
<br />